body {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar {
	height: 86px;
}

.navbar-nav {
	padding-top: 11px;
}

a {
	box-sizing: border-box;
	text-decoration: none;
	vertical-align: middle;
  color: #404041 !important;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
.title {
  font-size: 24px;
  font-style: bold;
}
.editable-empty {
  color: black!important;
}


.homeImage img{
  width: 100%;
	/*-webkit-filter: contrast(1.4) saturate(1.8) sepia(.6) opacity(.8);
	    filter: contrast(1.4) saturate(1.8) sepia(.6) opacity(.8);*/
}
.logoArt {
  width: 510px;
}

#adminSearch {
  width: 50%;
}
#percentCompleted {
  width: 45px;
}
h2 {
  color: brown;
  margin-left: 15px;
}
.outer-box {
  border: 1px solid gray;
  height: 100;
  width: 960px;
  padding: 3px;
  margin: 3px
}
.logo {
	margin-top: 5px;
  width: 161px;
  height: 30px
}
.classes {
	padding-top: 10px;
	margin: auto;
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.landing {
	margin-top: -400px;
	text-align: center;
}

.classes img {
	width: 88px;
	height: 60px;
	/*background-color: #404041;
	display: inline;
	padding: 0.5rem;

	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;*/
}
#bgImage {
  margin-top: -20px;
}

fade-font {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	background-color: #404041;
  color: #fff;
  display: inline;
  padding: 0.5rem;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
<<<<<<< HEAD
=======

>>>>>>> 8cb9a9ed0ccb59cc01cef421614a78b8036fb048
