body {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.percentageDiv {
  width: 100px;
}
.navbar {
  height: 86px;
}
.navbar-nav {
  padding-top: 11px;
}
a {
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: middle;
  color: #404041 !important;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
.title {
  font-size: 24px;
  font-style: bold;
}
.editable-empty {
  color: black!important;
}
header {
  margin-top: -20px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/s2048x2048/11174272_842916812445854_1885598337984820889_o.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 74vh;
}
.logoArt {
  width: 510px;
}
#adminSearch {
  width: 50%;
}
#percentCompleted {
  width: 45px;
}
h2 {
  color: brown;
  margin-left: 15px;
}
.outer-box {
  display: block;
  overflow: scroll;
  border: 1px solid gray;
  height: 400px;
  width: 960px;
  padding: 3px;
  margin: 3px
}
.logo {
  margin-top: 5px;
  width: 161px;
  height: 30px
}
.landing {
  position: absolute;
  top: 35%;
  left: 20%;
  text-align: center;
}
.headline {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 22%;
  color: white;
}
.headline h1 {
  font-family: 'Josefin Sans', sans-serif;
}
.classes {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  padding-top: 30px;
  margin: auto;
  width: 400px;
  justify-content: space-between;
}
.classes img {
  width: 88px;
  height: 60px;
}
.typed {
  color: #2AABE2
}
#bgImage {
  margin-top: -20px;
}
fade-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  display: inline;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.contact {
  margin-top: -10px;
  background-color: grey;
  text-align: center;
  padding: 5px;
  background-color: #EEEEEE;
}
.hiring h4 {
  font-family: 'Montserrat', sans-serif;
}
.hiring h5 {
  font-family: 'Montserrat', sans-serif;
}
.hiring p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.hiring a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.hiring a:link {
  color: #34ACE0;
}
.hiring a:hover {
  color: #34ACE0;
  text-decoration: none;
}
.filterby {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  width: 600px;
  justify-content: space-between;
   -webkit-justify-content: space-between;
   -moz-justify-content: space-between;
}

.cohortHeader {
  background-color: #34ACE0;
  border: 1px solid gray;
}

.studentpreview {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  width: 600px;
  justify-content: space-between;
   -webkit-justify-content: space-between;
   -moz-justify-content: space-between;
}
