body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}
.namePicPercent{
float: left;
width: 100%;
display: inline-block;
}
.percentageDiv {
  width: 100px;
}
.horizontalView {
  display: inline-block;
  float: left;
  margin: 20px;
}
.navbar {
  height: 86px;
}
.navbar-nav {
  padding-top: 11px;
}

.projects{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}
.project-edit{
border-top :0;
border-right: 0;
border-left: 0;
float: left;

width: 100%;
}
.editProjectSpace{
  display: inline-block;
  float: left;
  width: 60%;
margin-bottom: 20px;
}
.projectImgDiv{
    display: inline-block;
  float: left;
  width: 30%;
  height: 100%;


}


.project-edit {
  border: 0;
  width: 100%;
}

a {
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: middle;
  color: #404041;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}
.title {
  font-size: 24px;
  font-style: bold;
}
.editable-empty {
  color: black!important;
}
.welcomelanding {
  margin-top: -20px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/s2048x2048/11174272_842916812445854_1885598337984820889_o.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logoArt {
  width: 510px;
}
#adminSearch {
  width: 50%;
}
#percentCompleted {
  width: 45px;
}
h2 {
  color: brown;
  margin-left: 15px;
}
.outer-box {
  display: block;
  overflow: hidden;
  border: 1px solid gray;
  height: 250px;
  width: 960px;
  padding: 3px;
  margin: 15px
}
.logo {
  margin-top: 5px;
  width: 161px;
  height: 30px
}
.landing {
  position: absolute;
  top: 35%;
  left: 20%;
  text-align: center;
}
.headline {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 22%;
  color: white;
}
.headline h1 {
  font-family: 'Josefin Sans', sans-serif;
}
.classes {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  padding-top: 30px;
  margin: auto;
  width: 400px;
  justify-content: space-between;
}
.classes img {
  width: 88px;
  height: 60px;
}
.typed {
  color: #2AABE2
}
#bgImage {
  margin-top: -20px;
}
fade-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  display: inline;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.contact {
  margin-top: -10px;
  background-color: grey;
  text-align: center;
  padding: 10px;
  background-color: #EEEEEE;
}
.hiring h4 {
  font-family: 'Montserrat', sans-serif;
}
.hiring h5 {
  font-family: 'Montserrat', sans-serif;
}
.hiring p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.hiring a {
  color: #34ACE0;
  font-size: 12px;
}
.hiring a:link {
  color: #34ACE0;
}
.hiring a:hover {
  color: #34ACE0;
  text-decoration: none;
}
.filteralign {
  position: absolute;
  top: 28%;
  left: 28%;
}
.filterby {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  width: 600px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}
.cohortHeader {
  background-color: #34ACE0;
  border: 1px solid gray;
}
.cohortProfileView {
  margin-top: 200px;
}
#previewContainer {
  width: 800px;
  padding-left: 200px;
}
#studentsample {
  list-style-type: none;
}
.cohortHeading {
  width: 810px;
  position: relative;
  left: 17%;
}
.cohortHeading h3 {
  color: #34ACE0;
}
.cohortHeading p {
  text-align: right;
  color: #34ACE0;
  font-weight: bold;
}
.cohortheader {
  display: inline-block;
  vertical-align: middle;
  line-height: 70px;
}
.studentpreview {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  width: 800px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}
.polaroid {
  position: relative;
  width: 220px;
}
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
}
.polaroid p {
  position: absolute;
  text-align: center;
  width: 92%;
  bottom: 0px;
  font: 400 18px/1 'Varela Round', sans-serif;
  color: #282C34;
}
hr.style8 {
  text-align: center;
  width: 775px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}
hr.style8:after {
  align: center;
  content: '';
  display: block;
  margin-top: 2px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}
.studentporfolioheading {
  color: #404041;
  font-family: 'Varela Round', sans-serif;
}
.portfoliosHeader {
  padding-bottom: 10px;
}
.imagesize img {
  margin: 10px;
  float: left;
  width: 200px;
  height: 200px;
  margin-top: -25px;
}
.outer-box h2 {
  color: #404041;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
}
.biopreview {
  margin-top: 50px;
}
.projectContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.projectContainer-flex {
  display: flex;
  align-items: center;
  margin: 3px;
  padding: 10px 0 0 10px;
  height: 250px;
  width: 470px;
}
.projectContainer img {
  width: 200px;
  height: 200px;
}
.projectdesc {
  margin-left: 5px;
}
.loginpage {
  margin-top: -80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image:  linear-gradient( rgba(7, 88, 90, 0.5), rgba(7, 88, 90, 0.5)), url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11659245_872361029501432_6139527623432326623_n.jpg?oh=d532efd7129769d6e304fe942595ecb6&oe=5697FA1F);

}
.loginwrapper {
  margin-top: -550px;
  margin-bottom: 80px;
}
.login-signin {
  text-align: center;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.login-signin h2 {
  color: #404041;
}
.login-signin img {
  width: 50px;
  height: 50px;
}

