body {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

nav {
	width: 500px;
	margin-bottom: 20px;
	float: right;
}



nav ul li a {
	text-decoration: none;
	display: block;
	width: 100%;
	color: black;
	font-family: calibri;

}

.title{
	font-size: 24px;
	font-style: bold;
}
.editable-empty{
	color:black!important;
}


nav ul li {

	padding-left: 15px;
	padding-right: 15px;
	float: right;
}

.homeViewBody {
	width: 100%;

	/*background-image: url("artwork/devmt1.jpg");*/
}

.logoArt {
	width: 510px;
}

.portfoliosButton {
	position: absolute;
	bottom: 50%;
	left: 43%;
	z-index: 100;
}

#adminSearch {
	width: 50%;
}

#percentCompleted {
	width: 45px;
}

h2 {
	color: brown;
}

.outer-box {
	border: 2px solid gray;
	width: 960px;
	padding: 3px;
	margin: 3px;
}
