<div class="container">
  <h2 class="studentporfolioheading">Administrator Page</h2>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="margin-top: 85px;">
    <md-toolbar class="md-theme-blue">
      <h1 class="md-toolbar-tools">Add Locations, Cohorts, and Courses</h1>
    </md-toolbar>
    <md-content layout-padding>

      <input class="form-control" type="text" placeholder="Add New Cohort Location - City, State" ng-model="newLoc.text" ng-keydown="$event.which === 13 && addNewLocation(newLoc)" />
      <br>
      <ul>
        <li ng-repeat="cohortLocation in cohortLocations">{{cohortLocation.text}}</li>
      </ul>
      <br/>

      <input class="form-control" type="text" placeholder="Add New Course Name" ng-model="newCourse.text" ng-keydown="$event.which === 13 && addNewCourseName(newCourse)" />
      <br>
      <ul>
        <li ng-repeat="courseName in courseNames" ng-model="newCourse.text">{{courseName.text}}</li>
      </ul>
      <br/>

      <input class="form-control" type="text" placeholder="Add New Cohort Name" ng-model="newCohort.text" ng-keydown="$event.which === 13 && addNewCohortName(newCohort)" />
      <br>
      <ul>
        <li ng-repeat="cohortName in cohortNames">{{cohortName.text}}</li>
      </ul>

      <p hide-md show-gt-md></p>
    </md-content>
  </md-sidenav>

  <md-button ng-click="toggleLeft()" class="md-primary">
    Add Classes
  </md-button>




  <table st-table="students" class="table table-striped">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Course Name</th>
        <th>Cohort Name</th>
        <th>Cohort Location</th>
        <th>Percentage Complete</th>
        <th>Show</th>
      </tr>
      <br/>

      <!-- <button><a ui-sref="adminAddSchool">Add New Cohort or School</a></button> -->
      <br/>
      <br/>
      <input class="form-control" id="adminSearch" ng-model="searchTerm" placeholder="Filter Your Search">
      <br/>
      <br/>
    </thead>
    <tbody>
      <tr ng-repeat="student in students | filter: searchTerm">
        <td>{{student.name.first}} {{student.name.last}}</td>
        <td>{{student.cohort.className.text}}</td>
        <td>{{student.cohort.cohortname.text}}</td>
        <td>{{student.cohort.cohortLocation.text}}</td>
        <td>
          <input type="number" id="percentCompleted" ng-model="percent" ng-keydown="$event.which === 13 && adminUpdatePercent(percent, $index, student._id)"> {{student.percentCompleted}}%</td>
        <td>
          <input type="checkbox" ng-change="showProfile(student)" ng-model="student.showProfile">
      </tr>
    </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
</div>
