<div class="loginpage" ng-style="backgroundColor">
  <div class="loginwrapper">
    <form class="login-signin" ng-model="user">
      <div class="login-header">
        <img src="https://devmounta.in/img/logoonly.png"> </div>
      <h2 class="login-signin-heading">SIGNUP</h2>
    <br>
      <input type="text" class="form-control" placeholder="E-mail address" ng-model="user.email">
      <br>
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
      <br>
      <button class="btn btn-lg btn-primary btn-block" ng-click="register(user)">Submit</button>
  </div>
</div>
