<div class="outer-box" ng-mouseover="showHidden()" ng-mouseleave="hide()"  ng-click="goStudent(student.loginInfo)">
  <div class="imagesize" ng-show="!hidden">

    <img ng-src="{{student.picture}}" alt="{{student.name.first}} {{student.name.last}}">
    <div class="biopreview">
      <h2>{{student.name.first}} {{student.name.last}}</h2>
      <b>Bio:</b> {{student.Bio | characters: 450}}
      <br>
      <br><b>Skills:</b>
      <span>
        {{student.skills}}
      </span>
    </div>
  </div>
  <div class="projectContainer">
    <div class="projectContainer-flex" ng-repeat="project in student.projects | limitTo:2" ng-show="hidden">
      <img ng-src="{{project.picture}}">
      <div class="projectdesc">
        <ul id="studentsample">
          <li>
            <b>Project Name:</b> {{project.name}}</li>
          <li>
            <b>Type:</b> {{project.projectType}} </li>
          <li>
            <b>Description:</b> {{project.description | characters: 160}}</li>
            <li>
              <b>Tech Used:</b> {{project.TechUsed | characters: 70}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
