<div class="container-fluid">
  <!-- <div class="row"> -->
      <div class="col-md-12 col-md-offset-1">
        <h2 class="studentporfolioheading">Student Porfolios</h2>
      </div>
    <div>
      <div class="filteralign">
      <div class="col-md-3 col-md-offset-1">
        <p><b>School Location</b></p>
        <button type="button" class="btn btn-default" ng-click="studentFilter={classLocation:'UT'}">Utah</button>
        <button type="button" class="btn btn-default" ng-click="studentFilter={classLocation:'TX'}">Texas</button>
      </div>
      <div class="col-md-3">
        <p><b>Class Type</b></p>
        <button type="button" class="btn btn-default" ng-click="studentFilter={classType:'Web Development'}">Web Development</button>
        <button type="button" class="btn btn-default" ng-click="studentFilter={classType:'IOS'}">iOS Development</button>
      </div>
      <div class="col-md-3">
        <p><b>Reset Filters</b></p>
        <button type="button" class="btn btn-default" ng-click="studentFilter=undefined">Reset Filters</button>
      </div>
    </div>
      </div>
    <!-- End of filter div   -->
    <div class="cohortProfileView clear col-md-12">
      <div class="clear" ng-repeat="profile in cohort | filter:studentFilter" ng-click="goToCohort(profile.classId)">
        <div class="cohortHeading row">

          <div class="col-md-6">
            <h3>#{{profile.cohort}}</h3>
          </div>
          <div class="cohortheader col-md-6">
            <span>
              <p>{{profile.classType}} Class | Location: {{profile.classLocation}}</p>
            </span>

          </div>
        </div>
        <div class="container">
        <div id="previewContainer">
          <div class="studentPreviewFlexContainer">
          <ul class="studentpreview" id="studentsample">
            <li class="polaroid" ng-repeat="student in profile.profiles | limitTo:3">
              <img ng-src="{{student.studentpic}}" style="width: 190px; height: 198px" />
              <span>
                <p>
                  {{student.firstname}} {{student.lastname}} </p>
              </span>
            </li>
          </ul>
          </div>
          <hr class="style8">
        </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
  <!-- End of Container div   -->
</div>
