
<div class="container">
  {{studentData}}
  	<div>
	<input type="file" images="images" accept="image/pdf*" ng-model="s3url" fileread />
	{{s3url}}
	
	</div>
<form editable-form name="editableProfileForm" onaftersave="updateStudent()">


	<div >
		<span editable-text="studentData.studentPortf.name.first"  e-name="name" e-required e-placeholder="Enter name">{{  (studentData.studentPortf.name.first || 'Enter Name')|uppercase }}</span>
		<span editable-text=" studentData.studentPortf.name.last" e-name="lastname" e-required e-placeholder="Enter last name">{{ (studentData.studentPortf.name.last|| 'empty')|uppercase }}</span>
	</div>
	<div>
		<span editable-text="studentData.studentPortf.email" e-name="email" e-placeholder="Enter email">{{ studentData.studentPortf.email || 'youremail@email.com' }}</span>
	</div>


	<div>
	  <a href='http://{{studentData.studentPortf.github}}'  editable-text="studentData.studentPortf.github" e-placeholder="Enter Github Account">
	    {{ studentData.studentPortf.github}}
	  </a>
	</div>


	<div>
	  <a href='http://{{studentData.studentPortf.personalWebsite}}'  editable-text="studentData.studentPortf.personalWebsite" e-placeholder="Enter Website link" >
	    http://{{ studentData.studentPortf.personalWebsite}}
	  </a>
	</div>

	<div>
		<a href='http://{{studentData.studentPortf.LinkdIn}}'  editable-text="studentData.studentPortf.LinkdIn" e-placeholder="Enter LinkdIn">
	    {{ studentData.studentPortf.LinkdIn ||'Your LinkdIn Account' }}
	  	</a>
	</div>
	<div>
      <!-- editable Class Name (select-local) -->
      <span class="title">Class : NOT FIXED </span>
      <br>

      <span editable-select="studentData.studentPortf.className" e-name="classNames" e-ng-options="c.value as c.text for c in classNames">
        {{ (classNames | filter:{value: studentData.studentPortf.className})[0].text || " Your Class Name/Type Here" }}
      </span>
  </div>
	<div>
      <!-- editable Cohort Location (select-local) -->
      <span class="title">Cohort Location: NOT FIXED </span>
      <br>
      <span editable-select="studentData.studentPortf.cohort.cohortLoc" e-name="cohortLoc"  e-ng-options="c.value as c.text for c in cohortLocations">
        {{ (cohortLocations | filter:{Value: studentData.studentPortf.cohort.cohortLocation})[0].text || "e.g. Provo, UT" }}
      </span>
    </div>
    	<div>
      <!-- editable Cohort Name (select-local) -->
      <span class="title">Cohort: NAME NOT FIXED YET</span>
      <br>
      <span editable-select="studentData.studentPortf.cohort.cohortName" e-name="cohortName" e-ng-options="c.value as c.text for c in cohortNames">
        {{(cohortNames | filter:{value:studentData.studentPortf.cohort.cohortName})[0].text}}
      </span>
      <br>
      TExt:{{studentData.studentPortf.cohort.cohortName}}
    </div>

	<div class="BioBox">
    <span class="title">About you</span>
		<span editable-text="studentData.studentPortf.Bio" e-name="Bio" e-required e-placeholder="Tell us about you">{{ studentData.studentPortf.Bio || 'About you' }}</span>
	</div>
	<div>
      <!-- editable status (select-local) -->
      <span class="title">Status</span>
      <br>
      <span editable-select="studentData.studentPortf.status" e-name="status" e-ng-options="s.value as s.text for s in statuses">
        {{ (statuses | filter:{value: studentData.studentPortf.status})[0].text || "not working" }}
      </span>
    </div> 
    <div>
      <!-- editable status (select-local) -->
      <span class="title">Relocation</span>
      <br>
      <span editable-select="user.relocation" e-name="relocation" e-ng-options="s.value as s.text for s in relocation">
        {{ (relocation | filter:{value: user.relocation})[0].text || relocation[0] }}
      </span>
    </div> 
 
	<div>
    <span class="title">Location</span>
    <br>
		<span editable-text="user.currentLoc.city" e-name="currentLoc.city" e-required e-placeholder='City'>{{ user.currentLoc.city || 'City' }}</span>
		<span editable-text="user.currentLoc.state" e-name="currentLoc.state" e-required e-placeholder='State'>{{ user.currentLoc.state || 'State' }}</span>
	</div>
	<div class="buttons" > <!-- ng-if='logged in' authentication problem -->
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableProfileForm.$show()" ng-show="!editableProfileForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableProfileForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableProfileForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableProfileForm.$waiting" ng-click="editableProfileForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
</form>

<form editable-form name="editableProjectForm" onaftersave="updateProject()">
<div class="showcase">
  <h2>Showcase</h2>
  <br>
</div>
	<div>
  <span class= "title">Proyect name</span>
		<span editable-text="studentData.projects.name"  e-name="projectName" e-placeholder="My Awsome Project">{{  (studentData.projects.name || 'Enter Project Name')|uppercase }}</span>

	</div>
    <div>
      <!-- Project Type -->
      <span class='title'>Proyect Type</span>
      <span editable-select="studentData.projects.projectType" e-name="projectTypes" e-ng-options="s.value as s.text for s in projectTypes">
        {{ (projectTypes | filter:{value: studentData.projects.projectTypes})[0].text || projectTypes[0] }}
      </span>
    </div> 
    <div>
    <span class="title">Proyect Description </span>
    <span editable-text="studentData.project.description" e-name="Bio" e-required e-placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">{{ studentData.studentPortf.Bio || 'About you' }}</span>
  </div>

<div class="buttons" > <!-- ng-if='logged in' authentication problem -->
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableProjectForm.$show()" ng-show="!editableProjectForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableProjectForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableProjectForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableProjectForm.$waiting" ng-click="editableProjectForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
</form>



<br>
{{studentData.studentPortf.cohort.className}}
<br>
Cohort Name: {{studentData.studentPortf.cohort.cohortName[1]}}
<br>
Cohort Location: {{studentData.studentPortf.cohort.cohortLocation}}
</div>
<br>
<div class ="moreinfo">
Student Bio: {{studentData.studentPortf.Bio}}
<br>
Current Location: {{studentData.studentPortf.currentLoc.city}}, {{studentData.studentPortf.currentLoc.state}}
<br>
<div class="devskills" ng-repeat="devskill in studentData.studentPortf.skills">
This is ng-repeat:  {{devskill}}
<br>
Dev Skills: {{studentData.studentPortf.skills}}
</div>
<br>
Status: {{studentData.studentPortf.status}}
<br>
Relocate: {{studentData.studentPortf.relocation}}
<br>
</form>
</div>
<br>

<!-- <div class="devskills" ng-repeat="devskill in studentData.studentPortf.skills">
This is ng-repeat:  {{devskill}}
<br>
Dev Skills: {{studentData.studentPortf.skills}}
</div>
<br>
-->
</form>
</div>
<br>
<div class="showcase">
  <h4>Showcase</h4>
  <br>
<b>This is the Projects</b>
<br>
<br>
<div class="projects" ng-repeat="project in studentData.projects">
Project Type: {{project.projectType}}
<br>
Project Name: {{project.name}}
<br>
Description: {{project.description}}
<br>
Tech Used: {{project.TechUsed}}
</div>
<br>
<b>This is the TechSkills</b>
<br>
<div class="skills" ng-repeat="devskill in studentData.devSkills">
  <br>
TechSkill:
<br>
Description: {{devskill.description}}
<br>
Source:
<br>
<div ng-repeat="link in devskill.link">
<a href="{{link.url}}">{{link.name}}</a>
<br>
</div>
</div>

</div>




</div>
