<h3>Student Porfolios</h3>
<div class="filter">
<p>Filter by:</p>

<p>
School Location:
</p>
<button ng-click="studentFilter={}">Utah</button>
<button>Texas</button>

<p>
Class:
</p>
<button>Web Development</button> <button>iOS Development</button>
<p>
Percent Completed:
<button ng-click="studentFilter={percentCompleted:100}">100</button>

</p>

<p>
<button ng-click="studentFilter=undefined">Reset Filters</button>

</p>
</p>
</div>
<br>
<div ng-repeat="student in studentPortfolio | filter:studentFilter">
<portfolio-view student="student"></portfolio-view>
</div>

<br>
