
<div class="container">
  
  	<div>
	<input type="file" images="images" accept="image/pdf*" ng-model="s3url" fileread />
	{{s3url}}

	</div>
<form editable-form name="editableProfileForm" onbeforesave="updateStudent($data)">


	<div >
		<span editable-text="studentData.name.first"  e-name="name.first" e-required e-placeholder="Enter name">{{  (studentData.name.first || 'Enter Name')|uppercase }}</span>
		<span editable-text="studentData.name.last" e-name="name.last" e-required e-placeholder="Enter last name">{{ (studentData.name.last|| 'empty')|uppercase }}</span>
	</div>
	<div>
		<span editable-text="studentData.email" e-name="email" e-placeholder="Enter email">{{ studentData.email || 'youremail@email.com' }}</span>
	</div>


	<div>
	  <a href='http://{{studentData.github}}'  editable-text="studentData.github" e-placeholder="Enter Github Account">
	    {{ studentData.github}}
	  </a>
	</div>


	<div>
	  <a href='http://{{studentData.personalWebsite}}'  editable-text="studentData.personalWebsite" e-placeholder="Enter Website link" >
	    http://{{ studentData.personalWebsite}}
	  </a>
	</div>

	<div>
		<a href='http://{{studentData.LinkdIn}}'  editable-text="studentData.LinkdIn" e-placeholder="Enter LinkdIn">
	    {{ studentData.LinkdIn ||'Your LinkdIn Account' }}
	  	</a>
	</div>
	<div>
      <!-- editable Class Name (select-local) -->
      <span class="title">Class:</span>
      <br>

      <span editable-select="studentData.cohort.className._id" e-name="cohort.className" e-ng-options="c._id as c.text for c in classNames">
        {{ studentData.cohort.className.text || " Your Class Name" }}
        {{studentData.cohort.className.text}}

      </span>
  </div>
	<div>
      <!-- editable Cohort Location (select-local) -->
      <span class="title">Cohort Location: </span>
      <br>
      <span editable-select="studentData.cohort.cohortLocation._id" e-name="cohort.cohortLocation"  e-ng-options="c._id as c.text for c in cohortLocations">
        {{ studentData.cohort.cohortLocation.text || "Cohort location e.g. Provo, UT" }}
      </span>
    </div>
    	<div>
      <!-- editable Cohort Name (select-local) -->
      <span class="title">Cohort:</span>
      <br>
      <span editable-select="studentData.cohort.cohortname._id" e-name="cohort.cohortname" e-ng-options="c._id as c.text for c in cohortNames">
        {{studentData.cohort.cohortname.text || "Your Cohort e.g. DM1"}}
      </span>
      <br>
     
    </div>

	<div class="BioBox">
    <span class="title">About you</span>
		<span editable-text="studentData.Bio" e-name="Bio" e-required e-placeholder="Tell us about you">{{ studentData.Bio || 'About you' }}</span>
	</div>
	<div>
      <!-- editable status (select-local) -->
      <span class="title">Status</span>
      <br>
      <span editable-select="studentData.status" e-name="status" e-ng-options="s.text for s in statuses">
        {{ studentData.status.text || "Your Status" }}
      </span>
    </div>
    <div>
      <!-- editable relocation (select-local) -->
      <span class="title">Relocation</span>
      <br>
      <span editable-select="studentData.relocation" e-name="relocation" e-ng-options="s.text for s in relocationOptns">
        {{ studentData.relocation.text || "Relocation Options" }}
      </span>
    </div>
    <div>
    <span class="title">Skills</span>
    <!-- try editable-radiolist -->
<!--     <span editable-checklist="studentData.skills" e-ng-options="s.title for s in skillsArray">
     
      <ul>
      <li ng-repeat="s in showSkills() track by $index">
      {{s}}</li>
      </ul>
    </span> -->

    </div>

	<div>
    <span class="title">Location</span>
    <br>
		<span editable-text="studentData.currentLoc.city" e-name="currentLoc.city" e-required e-placeholder='City'>{{ studentData.currentLoc.city || 'City' }}</span>
		<span editable-text="studentData.currentLoc.state" e-name="currentLoc.state" e-required e-placeholder='State'>{{ studentData.currentLoc.state || 'State' }}</span>
	</div>
	<div class="buttons" > <!-- ng-if='logged in' authentication problem -->
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableProfileForm.$show()" ng-show="!editableProfileForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableProfileForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableProfileForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableProfileForm.$waiting" ng-click="editableProfileForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
</form>

<form editable-form name="editableProjectForm" onaftersave="updateProject()">
<div class="showcase">
  <h2>Showcase</h2>
  <br>
</div>
	<div>
  <span class= "title">Proyect name</span>
		<span editable-text="studentData.projects.name"  e-name="projectName" e-placeholder="My Awsome Project">{{  (studentData.projects.name || 'Enter Project Name')|uppercase }}</span>

	</div>
    <div>
      <!-- Project Type -->
      <span class='title'>Proyect Type</span>
      <span editable-select="studentData.projects.projectType" e-name="projectTypes" e-ng-options="s.value as s.text for s in projectTypes">
        {{ (projectTypes | filter:{value: studentData.projects.projectTypes}).text || projectTypes[0] }}
      </span>

    </div> 
    <div>
    <span class="title">Proyect Description </span>
    <span editable-text="studentData.project.description" e-name="Bio" e-required e-placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">{{ studentData.Bio || 'About your project' }}</span>
  </div>

   


<div class="buttons" > <!-- ng-if='logged in' authentication problem -->
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableProjectForm.$show()" ng-show="!editableProjectForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableProjectForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableProjectForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableProjectForm.$waiting" ng-click="editableProjectForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
     </div>
</form>


</form>
</div>
<br>
<div class="showcase">
  <h4>Showcase</h4>
  <br>
<b>This is the Projects</b>
<br>
<br>
<div class="projects" ng-repeat="project in studentData.projects">
Project Type: {{project.projectType}}
<br>
Project Name: {{project.name}}
<br>
Description: {{project.description}}
<br>
Tech Used: {{project.TechUsed}}
</div>
<br>
<b>This is the TechSkills</b>
<br>
<div class="skills" ng-repeat="devskill in studentData.devSkills">
  <br>
TechSkill:
<br>
Description: {{devskill.description}}
<br>
Source:
<br>
<div ng-repeat="link in devskill.link">
<a href="{{link.url}}">{{link.name}}</a>
<br>
</div>
</div>

</div>







