<div class="container">
  <button ng-if="canEdit" class="btn btn-primary pull-right" ng-click="navToEditProfile()">Edit Profile</button>
  <div ng-repeat="student in thisStudent">
  <div class="studentprofilepage">
    <div class="studentcolumn col-md-4">
      <img src="{{student.picture}}" style="width: 260px; height: 260px;">
      <br>
      <h3>{{student.name.first}} {{student.name.last}}</h3>

      <p>Currently @ {{student.currentLoc.city}}, {{student.currentLoc.state}}</p>
      <br>
      <a href="mailto:{{student.email}}">{{student.email}}</a>
      <br>
      <a href="http://{{student.personalWebsite}}">{{student.personalWebsite}}</a>
      <br><a href="http://github.com/{{student.github}}">{{student.github}} </a><i class="fa fa-github fa-lg"></i>
      <br><a href="https://www.linkedin.com/in/{{student.linkdIn}}">{{student.linkdIn}} </a><i class="fa fa-linkedin fa-lg"></i>
      <div class="studentInfo">
        <span><p>
        {{student.cohort.className.text}} - {{student.cohort.cohortname.text}}</p> </span>
        <p>
          Percent Completed: {{student.percentCompleted}}%
        </p>
        </p>
      </div>
    </div>

  </div>
  <div class="studentabout col-md-7">
    <h3>Hi! I'm {{student.name.first}}.</h3>
    <p>
      {{student.Bio}}
    </p>
    <p><b>
      Skills:</b> {{student.skills}}
    </p>
    <p>
      <b>Status:</b> {{student.status.text}}</p>
    <p>
      <b>Willing to relocate?</b>  {{student.relocation.text}}
    </p>
    <div>
      <div class="studentproject" ng-repeat="project in student.projects">
          <h3>Project </h3>
          <div>
        <img class="col-md-2" src="{{project.picture}}">
          </div>
          <div class="col-md-7">

        <p>
          <b>Type: </b> {{project.projectType}}
        </p>
        <p>
          <b>Name: </b> {{project.name}}
        </p>
        <p>
          <b>Description: </b> {{project.description}}
        </p>
        <p>
          <b>Tech Used: </b> {{project.TechUsed}}
        </p>

    <span><p>
      <b>URL:</b> <a href="{{project.codeSource.url}}">{{project.codeSource.name}}</a></p> </span>
      </div>
      </div>
    </div>

    <div>
      <div class="student-box" ng-repeat="devskills in student.DevSkills">
  <h3>Dev Skill</h3>
        <p>

        <b>Skill:</b> {{devskills.name}}</p>
        <p>
          <b>Description:</b> {{devskills.description}}
        </p>
        <br<b>URL:</b> <a href="{{devskills.link.url}}">{{devskills.link.name}}</a>

      </div>
    </div>
  </div>


  </div>
</div>
